.client_card {
    width: 50%;
    height: calc(0.79*50vw);
}

.client_card__img {
    z-index: -1;
    width: 100%;
    height: fit-content;
}

.client_card__container {
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
}

.client_card__container > section {
    align-self: flex-end;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.client_card__container > img {
    z-index: -1;
    position: absolute;
}

.client_card__container  h4 {
    text-transform: uppercase;
    font-size: var(--XXS);
}

.client_card__container  p {
    line-height: 3rem;
    font-size: var(--L);
}

.client_card__container small {
    font-size: var(--XXS);
}

.client_card__container a {
    text-decoration: none;
}

.client_card__container a:hover,
.client_card__container a:active,
.client_card__container a:visited {
    text-decoration: underline;
}

@media screen and (max-width: 411px) {
    .client_card {
        width: 100vw;
        height: calc(0.79 * 100vw);
    }

    .client_card__img {
        width: 100%;
    }

    .client_card__container > section {
        padding: 2rem;
    }

    .client_card__container p {
        font-size: var(--M);
    }

    .client_card small {
        display: none;
    }
}