.client_card {
    width: 50vw;
    height: calc(0.79*50vw);
}

.client_card__img {
    z-index: -1;
    width: 50vw;
    height: fit-content;
}

.client_card__container {
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
}

.client_card__container > section {
    align-self: flex-end;
    padding: 0 0 1.5rem 1.5rem;
}

.client_card__container > img {
    z-index: -1;
    position: absolute;
}

.client_card__container  h4,
.client_card__container  p,
.client_card__container  small {
    color: #FFFFFF;
}

.client_card__container  h4 {
    text-transform: uppercase;
    font-size: var(--XXS);
}

.client_card__container  p {
    font-size: var(--M);
}

.client_card__container small {
    font-size: var(--XXS);
}