@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

.main_content {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 115px;
  display: flex;
  flex-direction: column;
}

.client_cards {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

:root {
  --XXXL: 200px;
  --XXL: 70px;
  --XL: 60px;
  --L: 48px;
  --M: 34px;
  --S: 26px;
  --XS: 18px;
  --XXS: 16px;
  --CTA: 18px;

  --black: rgba(12, 12, 12, 1);
  --light-grey: rgba(221, 221, 221, 1);
  --grey: rgba(163, 163, 163, 1);
  --dark-grey: rgba(62, 62, 62, 1);
  --red: rgba(255, 41, 41, 1);
  --purple: #5115F7;
}

@media screen and (max-width: 411px) {
  .main_content {
    top: 56px;
  }

  .client_cards {
    flex-flow: column nowrap;
  }
}