.scaled {
    width: 100vw;
    display: flex;
}

.scaled__img {
    z-index: -1;
    width: 66vw;
    height: fit-content;
}

.scaled__container {
    height: calc(.67*66vw);
    position: relative;
    display: flex;
    flex-direction: row;
}

.scaled__container > section {
    align-self: flex-end;
    padding: 0 0 3rem 3rem;
}

.scaled__container > img {
    z-index: -1;
    position: absolute;
}

.scaled__container h4 {
    text-transform: uppercase;
    font-size: var(--XXS);
}

.scaled__container p {
    font-size: var(--L);
}

.scaled__container small {
    font-size: var(--XXS);
}

.line {
    width: 80%;
    height: 1px;
    background-color: #FFFFFF;
    margin: 1rem 0;
}

.scaled > aside {
    width: calc(100vw - 66vw);
    max-height: inherit;
    padding: 3rem;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}